body {
    background: #A8D4ED;
    background: url("fruit.jpg") no-repeat center center fixed;
    background-size: cover;
}

.panel-primary {
    border: 0;
}

.panel-primary .panel-heading {
    color: #8ea604;
    background-color: #f1edee;
    border: 0;
    font-family: 'Pacifico', cursive;
}

.panel-default {
    border: 0;
}

.panel-default .panel-heading {
    background-color: #ec9f05;
    border: 0;
    font-family: 'Pacifico', cursive;
}

textarea.form-control {
    background-color: #f1edee;
}